{% extends '_layout.njk' %}

{% block content %}
  <h1>Stream download</h1>

  <p><a href="/download/postgres">Download from PostgreSQL</a></p>
  <p><a href="/download/postgres/stream">Download from PostgreSQL (Stream)</a></p>
  <p><a href="/download/csv">Download from CSV</a></p>
{% endblock %}
